---
title: CDA Machine Learners AI & ML Club
layout: layouts/home.njk
description: Official website of the CDA Machine Learners AI & ML Club
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<img src="/img/logo.webp" class="logo">

<p>
  Brilliant local minds joining forces to stay ahead of the curve on all things Artificial Intelligence and Machine Learning.
</p>

<p>
  <a href="https://www.eventbrite.com/e/cda-machine-learners-ai-ml-club-tickets-640758244157" target="_new">Join us</a> weekly at the Innovation Collective Den in Coeur d'Alene, ID on Wednesday at 4:00pm!
</p>
<p>
  Connect with the group in our online <a href="https://discord.gg/QNCRdXNCf" target="_new">discord</a>
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>